.form-label,
.form-control {
  font-size: 1.6rem;
}

.form-control {
  padding: 8px;
}

.card {
  color: #fff;
  background-color: rgb(31 20 18);
  opacity: 0.8;
  max-width: 480px;
  width: 100%;
  padding: 32px 16px;
  margin: 16px;
  max-height: 100vh;
}

.btn-register {
  font-size: 1.6rem;
  background-color: #f3a952;
  color: #fff;
}

.btn-register:hover {
  background-color: rgb(255, 187, 109);
}

.input-block {
  position: relative;
}

.btn-toggle-password {
  color: rgb(24, 49, 83);
  position: absolute;
  bottom: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 2.2rem;
}
